<!-- form to edit/add lists -->
<fieldset>
<legend></legend>
      <!-- Title -->
<h1><center><div class='form-group'>
      <label for='list-name'>Enter a Name:</label><br>
      <input class='form-control' id='title' type='text' name='title' value='{{ list.title }}'/>
      <!-- Budget -->
      <label for='list-budget'>Enter a Budget:</label><br>
      <input class='form-control' id='budget' type='text' name='budget' value='{{ list.budget }}'/>
      <!-- Add a Starting Item -->
      <label for='list-products'>Add a Starting Item:</label><br>
      <!-- Show a Form for as many products are present in the list: -->
      {% if products != None %}
        {% for product in products %}
        {% include 'partials/product_form.html' %}
        {% endfor %}
      {% else %}
        {% include 'partials/product_form.html' %}
      {% endif %}
  </div>
</center></h1>
</fieldset>
