<!-- About Page -->

{% extends 'base.html' %}

{% block content %}
<style>
  .logo2 {
    font-family: Noteworthy, Century Gothic, Arial, sans-serif;
    font-size: 60px;
    color: white;
  }

  .tetis {
    font-family: Noteworthy, Century Gothic, Arial, sans-serif;
    font-size: 50px;
    color: Black;
  }
  .bees {
    font-family: Noteworthy, Century Gothic, Arial, sans-serif;
    font-size: 30px;
    color: black;
  }

  .kugelis {
    font-family: Noteworthy, Century Gothic, Arial, sans-serif;
    font-size: 60px;
    color: white;
  }

</style>
{% include 'partials/navbar.html' %}
<br>
<center>
<a href='https://www.reddit.com/r/copypasta/comments/aair93/bee_movie_script/'><img src="static/busybeelogo.png" alt= "busybee" height= "200" width = "300" ></a></center>
<center><div class = "logo2">About busybee</div><br>
<div class = "bees">According to all known laws of aviation, there is no way a bee should be able to fly.<br>
  Its wings are too small to get its fat little body off the ground.<br>
 The bee, of course, flies anyway because bees don't care what humans think is impossible.<br>
</center><br>
{% include 'partials/aboutgallery.html' %}
<center>
<div class="kugelis">
Links
</div>
</center>
<br>
<div class = "tetis">
<center>
<a href = "https://github.com/reikamoon">My GitHub</a><br>
<a href = "https://www.w3schools.com/howto/default.asp">Helpful HTML/JavaScript Resource</a><br>
<a href = "https://fontawesome.com/icons?d=gallery">Icons by Font Awesome</a><br>
<a href = "https://codepen.io/mcndubuisi/pen/Kqzpvz">Calculator Script by Emmanuel Ndubuisi</a><br>
<a href = "https://www.omnicalculator.com/finance/percent-off">Sales Calculator by omnicalculator</a><br>
<a href = "https://unsplash.com/s/photos/bees">Bees? Bees.</a>


</center>
{% endblock content %}
