<!-- homepage -->
{% extends 'base.html' %}
<!-- Include navbar on EVERY page -->
{% include 'partials/navbar.html' %}

<!-- positioning -->
<body>
{% block content %}
<br><br>
<center>
<h1> Today is... </h1>
<h1><script> document.write(new Date().toDateString()); </script></h1>
</center>
<style>
</style>
<!-- tab gallery -->
<!-- The four columns -->
<div class="row">
  <div class="column">
    <a href='/today'><img src="static/tdlist.jpg" alt="to do list" style="width:100%"></a>
  </div>
  <div class="column">
    <a href='/mylists'><img src="static/shoplist.jpg" alt="shopping" style="width:100%"></a>
  </div>
  <div class="column">
    <a href='/calculator'><img src="static/calculator.jpg" alt="calculator" style="width:100%"></a>
  </div>
  <div class="column">
    <a href='/about'><img src="static/placeholder.jpg" alt="bees" style="width:100%"></a>
  </div>

</div>


<div class="container">
  <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
  <img id="expandedImg" style="width:100%">
  <div id="imgtext"></div>
</div>


<!-- script for tab gallery -->
<script>
function myFunction(imgs) {
  var expandImg = document.getElementById("expandedImg");
  var imgText = document.getElementById("imgtext");
  expandImg.src = imgs.src;
  imgText.innerHTML = imgs.alt;
  expandImg.parentElement.style.display = "block";
}

</script>

</body>
{% endblock content %}
